{% include 'header.html' %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header" style="background-color: 	#F5FFFA;">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Ubah Data Laporan</h1>
          </div>
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content" style="background-color: 	#F5FFFA;">
      <div class="container-fluid" style="background-color: 	#F5FFFA;">
        
        <div class="row">
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-dark">
              <div class="card-header">
                <h3 class="card-title">Form Ubah Data Laporan</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              {% if data_nama[3] == 0 %}
              <form role="form" action="{{ url_for('update_lp') }}" method="POST">
                <div class="card-body">
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" readonly=readonly class="form-control" id="username" name="username" value="{{ data_lp[1] }}">
                  </div>
                  <div class="form-group">
                    <label for="text_laporan">Laporan</label>
                    <input type="text" readonly=readonly class="form-control" id="text_laporan" name="text_laporan" value="{{ data_lp[2] }}">
                  </div>
                  <div class="form-group">
                    <label for="tanggal_lapor">Time</label>
                    <input type="datetime-local" class="form-control" id="tanggal_lapor" name="tanggal_lapor" value="{{ data_lp[3] }}">
                  </div>
                  <div class="form-group col-md-14">
                    <label for="status">Status</label>
                    <select class="form-control" id="status" name="status" value="{{ data_lp[4] }}">
                      <option value=""></option>
                      <option value="Diterima">Diterima</option>
                      <option value="Proses">Proses</option>
                      <option value="Selesai">Selesai</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <input type="hidden" class="form-control" id="no" name="no" value="{{ data_lp[0] }}">
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-dark btn-sm">Save</button>
                </div>
              </form>
              {% endif %}
            </div>
            <!-- /.card -->

          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% include 'footer.html' %}