{% include 'header.html' %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header" style="background-color:	#F5FFFA;">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <h2>SOP (Standard Operating Procedure ) untuk menjawab pertanyaan.</h2><br>
            <div style="margin-left: 10px;">
                <p class="border" style="padding: 8px; border-radius: 10px; color: #F5FFFA; background-color:	#5F9EA0;"><strong>Sumber Pertanyaan:</strong></p>
                    <ul style="margin-left: 10px;">
                        <li><b>https://kampungwirausaha.com/diskusi/</b></li>
                        <li>Jika ada penggantian sumber soal, admin akan memberikan informasinya melalui halaman tersebut.</li>
                        <li>Cantumkan hashtag <b>#BelajarWirausaha</b> pada bagian akhir setiap jawaban.</li>
                    </ul>
                </p>
            </div>
            <div style="margin-left: 10px;">
                <p class="border" style="padding: 8px; border-radius: 10px; color: #F5FFFA; background-color:	#5F9EA0;"><strong>Peraturan (Freelancer)</strong><br>
                    <ul style="margin-left: 10px;">
                        <li>Melakukan pendaftaran dan mendapatkan username, password.</li>
                        <li>Pastikan memiliki smartphone atau PC atau Laptop.</li>
                        <li>Carilah soal pada link: <b>https://kampungwirausaha.com/diskusi/</b> , lalu klik tombol "lanjut".</li>
                        <li><b>Dilarang</b> mengganti atau menghapus jawaban yang sudah ada. Akan tetapi diperbolehkan untuk nambahkan jawaban lain pada soal yang dituju.</li>
                        <li><b>Wajib</b> menjawab dengan format yang sudah ditentukan. </li>
                        <li>80 Jawaban <b>Benar</b> Per 30 Hari (Rp 500.000,-)</li>
                        <li><b>Dilarang</b> melakukan copy-paste dari jawaban sendiri di link soal lain. Selalu usahakan untuk memparafrase kalimat ketika menjawab pertanyaan yang mirip dengan soal lain yang sudah pernah dijawab.</li>
                        <li>Sebelum jawaban dikirimkan pastikan jawaban tidak terdeteksi plagiasi. <b>Maksimal terdeteksi plagiasi 25%</b> menggunakan tools <b>https://smallseotools.com/id/plagiarism-checker/ .</b> Jika terdeteksi plagiasi lebih dari 25% jawaban tidak akan dihitung.</li>
                        <li>Jawaban tidak sesuai dengan tema soal atau <b>“asal jawab”</b>, Admin berhak menghapus jawaban dari daftar jawaban pada sistem tersebut.</li>
                        <li>Setelah menjawab salin link ke dalam spreadsheet (link spreadsheet)</li>
                        <li>Admin berhak melakukan pengecekan apabila terdapat jawaban yang tidak sesuai. <i>Seperti, kesalahan format, terdapat kalimat atau simbol-simbol yang tidak sesuai dengan tema soal, dan sebagainya.</i></li>
                        <li>Jawaban <b>“tidak sesuai dengan konteks soal”</b> tidak dihitung.</li>
                        <li><b>Admin berhak</b> melakukan pengecekan apabila terdapat jawaban yang tidak sesuai. <i>Seperti, kesalahan format, terdapat kalimat atau symbol-simbol yang tidak sesuai dengan tema soal, dan sebagainya.</i></li>
                        <li>Apabila mendapatkan kebingungan dapat melaporakan melalui menu <b>“Laporan”</b> pada sistem.</li>
                        <li>Admin berhak melakukan pengecekan apabila terdapat jawaban yang tidak sesuai. <i>Seperti, kesalahan format, terdapat kalimat atau symbol-simbol yang tidak sesuai dengan tema soal, dan sebagainya.</i></li>
                        <li>Pencairan dilakukan seminggu setelah 30 hari proses menjawab pertanyaan.  </li>
                    </ul>               
                </p>
            </div>
            <div style="margin-left: 10px;">
                <p class="border" style="padding: 8px; border-radius: 10px; color: #F5FFFA; background-color:	#5F9EA0;"><strong>Format Pengerjaan</strong><br>
                    <div style="margin-left: 10px;">
                        <img src="{{ url_for('static', filename='dist/img/format.png' ) }}">
                    </div>
                    <ul style="margin-left: 10px;">
                        <li>Jawaban tidak terlalu singkat, akan tetapi sesuai dengan pertanyaan yang ditanyakan.</li>
                        <li>Diakhir jawaban diberikan hashtag #BelajarWirausaha</li>
                    </ul>               
                </p>
            </div>
            <div style="margin-left: 10px;">
                <p class="border" style="padding: 8px; border-radius: 10px; color: #F5FFFA; background-color:	#5F9EA0;"><strong>Perekrutan Freelance</strong><br>
                    <ul style="margin-left: 10px;">
                        <li>Mengirimkan CV ke email kami. kampung-wirausaha.gmail.com</li>
                        <li>Apabila sudah diterima akan masuk ke dalam tim Freelance dan mendapatkan Username dan Password untuk login ke dalam sistem.  </li>
                    </ul>               
                </p>
            </div>
          </div>
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
      </div><!-- /.container-fluid -->
      <!-- <div class="img-fluid">
        <img src="{{ url_for('static', filename='dist/img/kampung-wirausaha2.png')}}" border="0" style="margin-left: 50px; margin-top:10px; max-width: 100%; height: auto;">
      <div> -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% include 'footer.html' %}